<%= form_with(
  model: current_user,
  url: users_profile_path,
  method: :patch,
  class: "flex flex-col justify-start items-stretch gap-6 w-full"
) do |form| %>
  <div>
    <h1 class="text-2xl font-bold"><%= t("label.profile") %></h1>
    <p class="text-xs text-secondary-txt"><%= t("profile.manage_your_profile_here") %></p>
  </div>

  <div class="flex flex-start items-stretch gap-16 w-full">
    <div class="flex flex-col gap-3">
      <div class="bg-secondary-bg rounded-full flex justify-center items-center w-40 h-40">
        <%= icon "photo-scan", class: "w-1/4 h-1/4 #{current_user.profile_picture.attached? ? "hidden" : ""}" %>
        <img id="user-pfp-preview"
          src="<%= user_pfp_url %>"
          alt="Profile picture preview"
          class="object-cover w-full h-full rounded-full <%= current_user.profile_picture.attached? ? "" : "hidden" %>" />
      </div>
      <div class="flex justify-center items-center w-full">
        <%= link_to user_pfp_upload_modal_path, class: "flex justify-center items-center gap-1 file-upload-chip w-fit",
          data: {
            turbo_frame: "modal",
            modal_target: "default-modal",
            modal_toggle: "default-modal",
          } do %>
          <%= icon "plus", class: "w-4 h-4" %>
          <%= t("label.upload") %>
        <% end %>
        <div id="pfp-upload-container" class="hidden"></div>
      </div>
    </div>
    <div class="flex-1 flex flex-col justify-start gap-8">
      <p class="text-sm text-secondary-txt"><%= t("label.display_name") %></p>
      <%= form.text_field :display_name, autofocus: true,
        class: "focus:outline-none focus:ring-0 border-b-1 w-full text-5xl p-2"
      %>
    </div>
  </div>

  <div>
    <div class="field content-input-container flex-1" data-controller="char-count">
      <div class="flex justify-between items-center w-full">
        <%= form.label :biography %>
        <div class="char-count">
          <span data-char-count-target="count">0</span><%= "/#{max_user_bio_length}" %>
        </div>
      </div>
      <%= form.text_area :description, autofocus: true, class: "content-input resize-none min-h-40", maxlength: max_description_length,
        data: { char_count_target: "input", action: "input->char-count#count" } %>
    </div>
  </div>
<% end %>