<%= search_form_for @q, url: url,
  class: "w-full",
  html: {
    data: {
      controller: "track-filter",
      track_filter_target: "form",
      turbo_frame: "track-list",
      turbo_action: "replace",
    }
  } do |f| %>
  <div class="flex justify-start items-stretch flex-nowrap gap-3 w-full mb-4">
    <span class="relative flex-1">
      <%= icon "search", class: "absolute w-4 aspect-square top-1/2 left-0 -translate-y-1/2 ml-2" %>
      <%= f.text_field :title_or_description_or_tags_name_i_cont, autocomplete: "off", placeholder: t("track.filter_placeholder"),
        class: "w-full min-w-20 pl-9 py-2 text-xs border-1 border-secondary-txt/50 focus:outline-none focus:ring-1 focus:ring-accent rounded" %>
    </span>
    <%= f.submit t("label.search"), class: "border-1 border-primary-txt rounded cursor-pointer px-2" %>
    <%= link_to t("label.clear"), url, data: { action: "click->track-filter#clearFilter" },
      class: "flex justify-center items-center border-1 border-secondary-txt text-secondary-txt rounded cursor-pointer px-2" %>
  </div>

  <div class="flex justify-start flex-stretch flex-wrap gap-4 text-xs text-secondary-txt font-light select-none mb-2">
    <% [
      {
        field: t("track.genres"),
        dropdown_id: "genre-selection-dropdown",
        for_admin: false,
      },
      {
        field: "BPM",
        dropdown_id: "bpm-selection-range",
        for_admin: false,
      },
      {
        field: t("track.keys"),
        dropdown_id: "key-selection-dropdown",
        for_admin: false,
      },
      {
        field: t("track.tags"),
        dropdown_id: "tag-selection-dropdown",
        for_admin: false,
      },
      {
        field: t("track.order_by"),
        dropdown_id: "sort-dropdown",
        for_admin: false,
      },
      {
        field: t("track.visibility"),
        dropdown_id: "visibility-selection-dropdown",
        for_admin: true,
      },
    ].each do |data| %>
      <%# Temp solution, shuold refactor these into reuseable components %>
      <% next if (data[:for_admin] && !current_user&.admin?) || (data[:dropdown_id] == "sort-dropdown" && request.path == tracks_path) %>
      <button id="<%= "#{data[:dropdown_id]}-btn" %>" data-dropdown-toggle="<%= data[:dropdown_id] %>" type="button"
        class="flex justify-center items-center gap-1 bg-none cursor-pointer focus:ring-0 focus:border-none">
        <%= data[:field] %>
        <%= icon "chevron-down", class: "w-3 aspect-square" %>
      </button>
    <% end %>

    <%# Checkboxes %>
    <% [
      {
        options: genre_options,
        label: "genre",
        query: :genre_cont_any,
        click_action: "change->track-filter#updateGenres",
        for_admin: false,
      },
      {
        options: key_options.drop(1),  # assumes key_options starts with nil
        label: "key",
        query: :key_cont_any,
        click_action: "change->track-filter#updateKeys",
        for_admin: false,
      },
      {
        options: tag_options,
        label: "tag",
        query: :tags_name_cont_any,
        click_action: "change->track-filter#updateTags",
        for_admin: false,
      },
      {
        options: [ "true", "false" ],
        label: "visibility",
        query: :is_public_in,
        click_action: "change->track-filter#updateVisibility",
        for_admin: true,
      },
    ].each do |dropdown| %>
      <% next if dropdown[:for_admin] && !current_user&.admin? %>
      <div id="<%= "#{dropdown[:label]}-selection-dropdown" %>" class="z-10 max-h-60 overflow-y-auto hidden bg-background dark:bg-secondary-bg rounded-lg shadow-sm">
        <ul class="p-1" aria-labelledby="<%= "#{dropdown[:label]}-selection-dropdown-btn" %>" data-track-filter-target="<%= "#{dropdown[:label]}Dropdown" %>">
          <% dropdown[:options].each do |option| %>
            <li class="cursor-pointer">
              <div class="flex items-center p-2 rounded-sm hover:bg-hover">
                <%= check_box_tag "q[#{dropdown[:query]}][]", option, params.dig(:q, dropdown[:query])&.include?(option),
                  id: "#{dropdown[:label]}-selection-#{snake_case(option)}",
                  class: "w-3 h-3 cursor-pointer rounded accent-accent",
                  data: { action: dropdown[:click_action] } %>
                <label for="<%= "#{dropdown[:label]}-selection-#{snake_case(option)}" %>" class="w-full h-full ms-2 cursor-pointer font-medium">
                  <% unless dropdown[:label] == "visibility" %>
                    <%= option %>
                  <% else %>
                    <%= if option == "true" then "public" else "private" end %>
                  <% end %>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%# Ranges %>
  <% [
    {
      label: "bpm",
      lowerbound_query: :bpm_gteq,
      upperbound_query: :bpm_lteq,
      change_action: "change->track-filter#updateBPM",
    }
  ].each do |dropdown| %>
    <div id="<%= "#{dropdown[:label]}-selection-range" %>" class="z-10 hidden p-2 bg-background dark:bg-secondary-bg rounded-lg shadow-sm">
      <span class="flex justify-center items-stretch gap-2 text-[0.8rem]" data-track-filter-target="<%= "#{dropdown[:label]}Dropdown" %>">
        <%= f.number_field dropdown[:lowerbound_query], value: params.dig(:q, dropdown[:lowerbound_query]), data: { action: dropdown[:change_action] },
          class: "hide-incr-decr-arrows w-8 border-b-1 border-b-secondary-txt focus:border-b-accent focus:outline-none focus:ring-0" %>
        <p><%= t("label.to").downcase %></p>
        <%= f.number_field dropdown[:upperbound_query], value: params.dig(:q, dropdown[:upperbound_query]), data: { action: dropdown[:change_action] },
          class: "hide-incr-decr-arrows w-8 border-b-1 border-b-secondary-txt focus:border-b-accent focus:outline-none focus:ring-0" %>
      </span>
    </div>
  <% end %>

  <%# Sort dropdown %>
  <% unless request.path == tracks_path %>
    <div id="sort-dropdown" class="z-10 p-3 hidden bg-background dark:bg-secondary-bg rounded-lg shadow-sm">
      <span class="flex flex-col justify-start items-start gap-2 text-[0.7rem]">
        <% [
          { field: :title, title: t("track.title") },
          { field: :bpm, title: "BPM" },
          { field: :created_at, title: t("track.created_at") },
          { field: :updated, title: t("track.updated_at") },
        ].each do |option| %>
          <%= sort_link(@q, option[:field], option[:title]) %>
        <% end %>
      </span>
    </div>
  <% end %>

  <div class="flex justify-start items-stretch gap-2">
    <% [
      { title: t("track.genres"), label: "genre", action: "click->track-filter#clearGenres", for_admin: false },
      { title: "BPM", label: "bpm", action: "click->track-filter#clearBPM", for_admin: false },
      { title: t("track.keys"), label: "key", action: "click->track-filter#clearKeys", for_admin: false },
      { title: t("track.tags"), label: "tag", action: "click->track-filter#clearTags", for_admin: false },
      { title: t("track.visibility"), label: "visibility", action: "click->track-filter#clearVisibility", for_admin: true },
    ].each do |chip| %>
      <% next if chip[:for_admin] && !current_user&.admin? %>
      <div class="hidden w-fit h-fit bg-secondary-bg rounded-full px-2 py-0.5"
        data-track-filter-target="<%= "#{chip[:label]}Chip" %>">
        <span class="flex justify-center items-center gap-1">
          <span id="<% "#{chip[:label]}-chip" %>" class="text-secondary-txt text-[0.6rem]">
            <%= "#{chip[:title]}:" %>
          </span>
          <p class="track-filter-chip-text text-nowrap text-[0.6rem]"></p>
          <div class="w-fit h-fit cursor-pointer" data-action="<%= chip[:action] %>">
            <%= icon "x", class: "w-3 h-3 aspect-square" %>
          </div>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
