<% content_for :title, "Explore Tracks" %>

<div class="w-full">
  <%= render "shared/page_title", title: t("label.tracks"), subtitle: t("tracks.explore_tracks_here") %>

  <%= render "tracks/filter", url: tracks_path %>

  <div id="tracks" class="min-w-full mt-8">
    <%= turbo_frame_tag "track-list", target: "_top" do %>
      <%= render Tracks::ListComponent.new(tracks: @tracks, current_user:) %>
    <% end %>

    <%= render "shared/load_more", pagy: @pagy %>
  </div>
</div>
