<% content_for :title, @track.title %>

<%# TODO make it responsive %>
<div class="w-full px-10">
  <div class="flex justify-start items-stretch gap-8 w-full">
    <div class="flex justify-center items-center w-50 h-50 min-w-50 min-h-50 bg-secondary-bg rounded-lg">
      <% if @track.cover_photo.attached? %>
        <img src="<%= url_for(@track.cover_photo) %>", class="w-full h-full rounded-lg" />
      <% else %>
        <%= icon "photo-scan", class: "w-1/4 h-1/4" %>
      <% end %>
    </div>
    <div class="flex-1 flex flex-col justify-between items-start">
      <div class="flex-1">
        <h1 class="text-2xl truncate font-bold"><%= @track.title %></h1>
        <div class="flex justify-start items-center gap-3 text-[0.6rem] text-secondary-txt w-full mt-1">
          <%= render "tracks/track_data", track: @track, icon_size: "5" %>
        </div>
        <p class="text-xs mt-2"><%= @track.description %></p>
      </div>
      <div class="flex flex-col justify-center items-start gap-2">
        <div class="flex justify-start items-center gap-2">
          <% get_tags_for(@track).each do |tag| %>
            <p class="chip text-[0.6rem] text-secondary-txt"><%= tag %></p>
          <% end %>
        </div>
        <div class="flex justify-start items-stretch gap-2">
          <%# TODO might look better to show the cheapest license price, whatevs %>
          <button class="button px-2 py-1">
            <%= icon "shopping-bag", class: "mr-1" %>
            <%= t("label.purchase") %>
          </button>

          <%# TODO add tool tips for the following %>
          <% if current_user %>
            <%= button_to track_heart_path(@track), form_class: "track-show-icon-only-btn",
              class: "flex justify-center items-center w-full h-full",
              method: current_user.hearted?(@track) ? :delete : :post,
              data: {
                controller: "like-button",
                user_liked_value: current_user.hearted?(@track),
                action: "click->like-button#toggle",
              } do %>
              <%= icon "heart", variant: "filled", class: "text-accent w-5 h-5 cursor-pointer hidden",
                data: { like_button_target: "liked" } %>
              <%= icon "heart", variant: "outline", class: "text-accent w-5 h-5 cursor-pointer hidden",
                data: { like_button_target: "notLiked" } %>
            <% end %>
          <% else %>
          <% end %>

          <button class="track-show-icon-only-btn">
            <%= icon "download", class: "text-accent" %>
          </button>
          <button class="track-show-icon-only-btn">
            <%= icon "share", class: "text-accent" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
