<% content_for :title, @track.title %>

<%# TODO make it responsive %>
<div class="flex flex-col justify-center items-center gap-12 w-full">
  <section class="flex justify-start items-stretch gap-8 w-full">
    <%= render "shared/cover_photo_player", track: @track, img_size: "w-50" %>

    <div class="flex-1 flex flex-col justify-between items-start">
      <div class="flex-1">
        <h1 class="text-2xl truncate font-bold"><%= @track.title %></h1>
        <div class="flex justify-start items-center gap-3 text-[0.6rem] text-secondary-txt w-full mt-1">
          <%= render partial: "tracks/track_data", locals: { track: @track, icon_size: "5" } %>
        </div>
        <p class="text-xs mt-2"><%= @track.description %></p>
      </div>
      <div class="flex flex-col justify-center items-start gap-2 w-full">
        <div class="flex justify-start items-center gap-2">
          <% @track.tags.each do |tag| %>
            <%= render TagComponent.new(name: tag.name) %>
          <% end %>
        </div>
        <div class="flex justify-start items-stretch gap-2">
          <%# TODO might look better to show the cheapest license price, whatevs %>
          <button class="button px-2 py-1">
            <%= icon "shopping-bag", class: "mr-1" %>
            <%= t("label.purchase") %>
          </button>

          <%# TODO add tool tips for the following %>
          <% if current_user %>
            <%= button_to track_heart_path(@track), form_class: "track-show-icon-only-btn",
              class: "flex justify-center items-center w-full h-full",
              method: current_user.hearted?(@track) ? :delete : :post,
              data: {
                controller: "like-button",
                like_button_user_liked_value: current_user.hearted?(@track),
                action: "click->like-button#toggle",
              } do %>
              <%= icon "heart", variant: "filled", class: "text-accent w-5 h-5 cursor-pointer hidden",
                data: { like_button_target: "liked" } %>
              <%= icon "heart", variant: "outline", class: "text-accent w-5 h-5 cursor-pointer hidden",
                data: { like_button_target: "notLiked" } %>
            <% end %>
          <% else %>
            <%= link_to auth_prompt_modal_path, class: "track-show-icon-only-btn",
              data: {
                turbo_frame: "modal",
                modal_target: "default-modal",
                modal_toggle: "default-modal",
              } do %>
              <%= icon "heart", class: "text-accent w-5 h-5 cursor-pointer" %>
            <% end %>
          <% end %>

          <%= link_to download_track_free_path(@track), target: "_blank", rel: "noopener", class: "track-show-icon-only-btn" do %>
            <%= icon "download", class: "text-accent" %>
          <% end %>

          <button class="track-show-icon-only-btn">
            <%= icon "share", class: "text-accent" %>
          </button>

          <% if current_user && current_user.admin? %>
            <%= link_to edit_admin_track_path(@track), class: "track-show-icon-only-btn" do %>
              <%= icon "pencil", class: "text-accent" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full">
    <h1 class="font-bold text-lg mb-2"><%= t("track.similar_tracks") %></h1>
    <% @similar_tracks.each do |track| %>
      <%= render Tracks::TrackComponent.new(track:, current_user: current_user) %>
    <% end %>
  </section>
  <section id="comments" class="w-full">
    <h1 class="font-bold text-lg mb-2"><%= t("label.comments") %></h1>
    <%= render Comments::FormComponent.new(entity: @track, current_user:) %>
    <div>
      <%= turbo_frame_tag "track-comments", target: "_top", data: { turbo_temporary: false } do %>
        <%= render partial: "comments/list", locals: { comments: @comments } %>
      <% end %>

      <%= render "shared/load_more", pagy: @pagy %>
    </div>
  </section>
</div>
