<% content_for :title, @track.title %>

<%# TODO make it responsive %>
<div class="flex flex-col justify-center items-center gap-12 w-full">
  <section class="flex justify-start items-stretch gap-8 w-full">
    <%= render "shared/cover_photo_player", track: @track, img_size: "w-50" %>

    <div class="flex-1 flex flex-col justify-between items-start">
      <div class="flex-1">
        <h1 class="text-2xl truncate font-bold"><%= @track.title %></h1>
        <div class="flex justify-start items-center gap-3 text-[0.6rem] text-secondary-txt w-full mt-1">
          <%= render partial: "tracks/track_data", locals: { track: @track, icon_size: "5" } %>
        </div>
        <p class="text-xs mt-2"><%= @track.description %></p>
      </div>
      <div class="flex flex-col justify-center items-start gap-2 w-full">
        <div class="flex justify-start items-center gap-2">
          <% @track.get_tags.each do |tag| %>
            <p class="chip text-[0.6rem] text-secondary-txt"><%= tag %></p>
          <% end %>
        </div>
        <div class="flex justify-start items-stretch gap-2">
          <%# TODO might look better to show the cheapest license price, whatevs %>
          <button class="button px-2 py-1">
            <%= icon "shopping-bag", class: "mr-1" %>
            <%= t("label.purchase") %>
          </button>

          <%# TODO add tool tips for the following %>
          <% if current_user %>
            <%= button_to track_heart_path(@track), form_class: "track-show-icon-only-btn",
              class: "flex justify-center items-center w-full h-full",
              method: current_user.hearted?(@track) ? :delete : :post,
              data: {
                controller: "like-button",
                like_button_user_liked_value: current_user.hearted?(@track),
                action: "click->like-button#toggle",
              } do %>
              <%= icon "heart", variant: "filled", class: "text-accent w-5 h-5 cursor-pointer hidden",
                data: { like_button_target: "liked" } %>
              <%= icon "heart", variant: "outline", class: "text-accent w-5 h-5 cursor-pointer hidden",
                data: { like_button_target: "notLiked" } %>
            <% end %>
          <% else %>
            <%= link_to auth_prompt_modal_path, class: "track-show-icon-only-btn",
              data: {
                turbo_frame: "modal",
                modal_target: "default-modal",
                modal_toggle: "default-modal",
              } do %>
              <%= icon "heart", class: "text-accent w-5 h-5 cursor-pointer" %>
            <% end %>
          <% end %>

          <button class="track-show-icon-only-btn">
            <%= icon "download", class: "text-accent" %>
          </button>

          <button class="track-show-icon-only-btn">
            <%= icon "share", class: "text-accent" %>
          </button>

          <% if current_user && current_user.admin? %>
            <%= link_to edit_admin_track_path(@track), class: "track-show-icon-only-btn" do %>
              <%= icon "pencil", class: "text-accent" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full">
    <h1 class="font-bold text-lg mb-2"><%= t("track.similar_tracks") %></h1>
    <% @similar_tracks.each do |t| %>
      <%= render partial: "tracks/track", locals: { track: t } %>
    <% end %>
  </section>
  <section class="w-full">
    <h1 class="font-bold text-lg mb-2"><%= t("label.comments") %></h1>
    <div class="flex justify-start items-stretch gap-4 my-8">
      <%= render partial: "users/shared/avatar", locals: { size: 10 } %>

      <%= form_with(
        model: Comment.new,
        url: comments_path,
        method: :post,
        data: {
          controller: "comment-form",
          comment_form_target: "form",
          action: "turbo:submit-end->comment-form#submitForm",
        }) do |f| %>
        <%= f.hidden_field :entity_type, value: Track.name %>
        <%= f.hidden_field :entity_id, value: @track.id %>

        <div class="flex-1 flex justify-center items-center gap-2" data-controller="char-count">
          <%= f.text_field :content, autofocus: false, maxlength: Comment::MAX_COMMENT_LENGTH,
            autocomplete: "off", required: true, data: { char_count_target: "input", action: "input->char-count#count" },
            class: "focus:outline-none focus:ring-0 focus:border-b-primary-txt border-b-secondary-txt/60 border-b-1 w-full text-md p-2 cursor-select"
          %>
          <div class="char-count">
            <span data-char-count-target="count">0</span><%= "/#{Comment::MAX_COMMENT_LENGTH}" %>
          </div>

          <% if current_user %>
            <button type="submit" class="aspect-square rounded-full p-1.5 bg-secondary-bg hover:bg-hover cursor-pointer">
              <%= icon "send", class: "w-4 h-4 aspect-square text-accent" %>
            </button>
          <% else %>
            <div class="aspect-square rounded-full p-1.5 bg-secondary-bg hover:bg-hover cursor-pointer">
              <%= link_to auth_prompt_modal_path,
                data: {
                  turbo_frame: "modal",
                  modal_target: "default-modal",
                  modal_toggle: "default-modal",
                } do %>
                <%= icon "send", class: "w-4 h-4 aspect-square text-accent" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div>
      <%= turbo_frame_tag "track-comments", target: "_top", data: { turbo_cache: false } do %>
        <%= render partial: "comments/list", locals: { comments: @comments } %>
      <% end %>

      <%= render "shared/load_more", pagy: @pagy %>
    </div>
  </section>
</div>
