<% content_for :title, @track.title %>

<div class="flex flex-col justify-center items-center gap-12 w-full" data-controller="license-selection"
  data-license-selection-track-preview-modal-url-value="<%= track_purchase_modal_url(@track) %>">
  <section class="w-full grid grid-cols-[auto_1fr] gap-x-8 max-sm:grid-cols-1 max-sm:grid-rows-[auto_auto_auto] max-sm:justify-items-center max-sm:gap-y-8">
    <div class="row-span-2 max-sm:row-span-1 max-sm:order-2 min-w-50 min-h-50 w-50 h-50">
      <%= render Tracks::PlayableCoverPhoto.new(track: @track, size: 50) %>
    </div>

    <div class="flex-1 self-start max-sm:order-1 max-sm:self-auto max-sm:h-auto max-sm:text-center">
      <h1 class="text-2xl font-bold"><%= @track.title %></h1>
      <%= render partial: "tracks/track_data", locals: { track: @track, icon_dimension: track_data_icon_dimension } %>
      <p class="text-xs mt-2 max-sm:text-[0.6rem] max-sm:max-w-sm"><%= @track.description %></p>
    </div>
    <div class="flex flex-col justify-center items-start max-sm:items-center gap-2 w-full mt-4 self-end max-sm:order-3 max-sm:self-auto">
      <div class="flex justify-start items-center gap-2">
        <% @track.tags.each do |tag| %>
          <%= render TagComponent.new(name: tag.name) %>
        <% end %>
      </div>
      <div class="flex justify-start items-stretch gap-2">
        <%= content_tag :div, track_purchase_modal_path(@track), class: "button px-2 py-1.5",
          data: { action: "click->license-selection#fetchPurchaseModal" } do %>
          <%= icon "shopping-bag", class: "mr-1" %>
          <p class="text-sm font-light"><%= @track.cheapest_price %></p>
        <% end %>

        <%# TODO add tool tips for the following %>
        <% if current_user %>
          <div id="track-show-heart">
            <%= render "tracks/hearts/show_heart", track: @track, user_liked: current_user.hearted?(@track) %>
          </div>
        <% else %>
          <%= link_to auth_prompt_modal_path, class: "track-show-icon-only-btn", data: { turbo_stream: true } do %>
            <%= icon "heart", class: "text-accent w-5 h-5 cursor-pointer" %>
          <% end %>
        <% end %>

        <%= link_to download_track_free_path(@track), target: "_blank", rel: "noopener", class: "track-show-icon-only-btn" do %>
          <%= icon "download", class: "text-accent" %>
        <% end %>

        <%= link_to track_more_info_modal_path(@track), class: "track-show-icon-only-btn", data: { turbo_stream: true } do %>
          <%= icon "library", class: "text-accent" %>
        <% end %>

        <% if current_user && current_user.admin? %>
          <%= link_to edit_admin_track_path(@track), class: "track-show-icon-only-btn" do %>
            <%= icon "pencil", class: "text-accent" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <section class="w-full">
    <h2 class="font-bold text-lg mb-2"><%= t("track.licensing") %></h2>
    <%= render partial: "tracks/license_usages", locals: {
      licenses: @licenses,
      partial_id: "license-tab-contents-page",
      location: "track_show",
      initial_license_id: nil,
    } %>
  </section>
  <section class="w-full">
    <h2 class="font-bold text-lg mb-2"><%= t("track.similar_tracks") %></h2>
    <%= render Tracks::ListComponent.new(
      tracks: @similar_tracks,
      current_user:,
      options: { render_message_if_empty: false }
    ) %>
  </section>
  <section id="comments" class="w-full">
    <h2 class="font-bold text-lg mb-2"><%= t("label.comments") %></h2>
    <%= render Comments::FormComponent.new(entity: @track, current_user:) %>
    <div>
      <%= turbo_frame_tag "track-comments", target: "_top", data: { turbo_temporary: false } do %>
        <%= render Comments::ListComponent.new(comments: @comments, current_user:) %>
      <% end %>

      <%= render "shared/load_more", pagy: @pagy %>
    </div>
  </section>
</div>
