<div class="flex justify-between items-center w-full rounded border-1 border-hover p-2 min-w-120">
  <div>
    <p><%= license.title %></p>
    <div class="text-xs font-light">
      <div class="flex justify-start items-center gap-2">
        <%= icon "article", class: "w-3 h-3 aspect-square text-accent" %>
        <%= content_tag :p, contract_name(license.contract_type) %>
      </div>
      <div class="flex justify-start items-center gap-2">
        <%= icon "currency-dollar", class: "w-3 h-3 aspect-square text-accent" %>
        <%= content_tag :p, price_with_currency(license) %>
      </div>
      <div class="flex justify-start items-center gap-2">
        <%= icon "gavel", class: "w-3 h-3 aspect-square text-accent" %>
        <%= content_tag :p, format_country_location(license) %>
      </div>
      <% if license.default_for_new %>
        <div class="flex justify-start items-center gap-2">
          <%= icon "check", class: "w-3 h-3 aspect-square text-success" %>
          <%= content_tag :p, t("admin.license.default_for_new_content") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex justify-between items-center gap-8">
    <%= button_to t("admin.license.apply_to_all.action"), apply_to_all_admin_license_path(license), method: :post,
      class: "button px-2 py-1 text-xs", data: { turbo_stream: true } %>
    <%= button_to t("admin.license.remove_from_all.action"), remove_from_all_admin_license_path(license), method: :delete,
      class: "button-critical bg-error px-2 py-1 text-xs", data: { turbo_stream: true } %>
    <%= render Ui::DropdownComponent.new(id: dom_id(license)) do |dropdown| %>
      <% dropdown.with_trigger_button(id: dom_id(license)) do %>
        <%= icon "dots-vertical", class: "cursor-pointer" %>
      <% end %>
      <% dropdown.with_section do %>
        <ul>
          <li class="dropdown-item">
            <%= render Ui::Dropdown::LinkComponent.new(
              url: edit_admin_license_path(license),
              text: t("label.edit"),
              icon: "pencil",
              icon_size: 4
            ) %>
          </li>
          <li class="dropdown-item">
            <%= render Ui::Dropdown::LinkComponent.new(
              url: preview_contract_modal_path(license_id: license.id, contract_type: license.contract_type),
              text: t("label.preview"),
              icon: "file",
              icon_size: 4,
              data: { turbo_stream: true }
            ) %>
          </li>
          <li class="dropdown-item">
            <%= render Ui::Dropdown::LinkComponent.new(
              url: admin_license_path(license),
              text: t("label.delete"),
              icon: "trash",
              icon_size: 4,
              classes: "text-error",
              data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }
            ) %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
