<div class="flex justify-start items-start gap-4 w-full ">
  <%= render partial: "users/shared/avatar", locals: { user: comment.user, size: 6 } %>
  <div class="flex flex-col justify-start items-start truncate">
    <div class="flex justify-start items-center gap-1 text-secondary-txt text-[0.6rem] font-light">
      <p><%= comment.user.display_name %></p>
      <span>·</span>
      <p><%= format_date(comment.created_at) %></p>
    </div>
    <p class="text-sm font-light w-full text-wrap mb-1"><%= comment.content %></p>

    <div class="flex justify-start items-center gap-4 text-secondary-txt">
      <%= render partial: "comments/interaction", locals: {
        url: like_comment_path(comment),
        interacted: comment.liked_by?(current_user),
        interaction_count: comment.likes.count,
        icon_name: "thumb-up",
      } %>
    </div>
  </div>
</div>
