<div class="flex justify-start items-start gap-4 w-full ">
  <%= render AvatarComponent.new(user: comment.user, size: 8) %>
  <div class="flex flex-col justify-start items-start truncate">
    <div class="flex justify-start items-center gap-1 text-secondary-txt text-[0.6rem] font-light">
      <p><%= comment.user.display_name %></p>
      <%= seperator_char_ui %>
      <p><%= times_ago(comment.created_at) %></p>
    </div>

    <p class="text-sm font-light w-full text-wrap"><%= comment.content %></p>

    <%= render partial: "comments/interactions", locals: {
      comment: comment,
      likes: comment.likes,
      dislikes: comment.dislikes,
    } %>
  </div>
</div>
