<div class="<%= "relative flex justify-center items-center bg-secondary-bg aspect-square #{img_size} rounded cursor-pointer" %>"
  data-controller="cover-photo-hover" data-cover-photo-hover-target="container">
  <% if track.cover_photo.attached? %>
    <%= image_tag url_for(track.cover_photo), class: "object-cover w-full h-full rounded" %>
  <% else %>
    <%= icon "photo-scan", class: "w-1/4 h-1/4" %>
  <% end %>
  <div class="hidden absolute top-0 left-0 w-full h-full aspect-square bg-black/50"
    data-cover-photo-hover-target="playTrigger" data-track-id="<%= track.id %>" data-action="click->audio-player#play">
    <div class="w-full h-full flex justify-center items-center">
      <span class="w-fit h-fit aspect-square p-2 rounded-full border-1 border-white">
        <%= icon "player-play", variant: "filled", class: "w-4 h-4 aspect-square" %>
      </span>
    </div>
  </div>
</div>
