<div class="flex justify-between items-start gap-40 w-full border-t-2 rounded-2xl border-hover pt-8 pb-16 px-24 text-[0.6rem]">
  <div class="flex flex-col justify-start items-stretch gap-2">
    <% [
      { icon: "brand-youtube", name: "Youtube", link: "https://www.youtube.com/@prodethan8266" },
      { icon: "brand-instagram", name: "Instagram", link: "https://www.instagram.com/prod_ethan_" },
      { icon: "mail", name: Credentials::Email.producer_email, link: "mailto:#{Credentials::Email.producer_email}" }
    ].each do |d| %>
      <%= link_to d[:link], target: "_blank", rel: "noopener noreferrer", class: "flex justify-start items-center gap-1" do %>
        <%= icon d[:icon], class: "w-7 h-7 hover:text-accent border-1 border-hover rounded-full p-1 flex justify-center items-center" %>
        <p class="font-bold text-secondary-txt hover:underline"><%= d[:name] %></p>
      <% end %>
    <% end %>
  </div>
  <div class="flex-1 flex flex-row justify-between items-center">
    <%= render FooterLinkSectionComponent.new(
      section: t("footer.info.section"),
      links: [
        [ licensing_path, t("footer.info.licensing") ],
        [ contact_path, t("footer.info.contact") ]
      ]
    ) %>

    <%= render FooterLinkSectionComponent.new(
      section: t("footer.site.section"),
      links: [
        [ tracks_path, t("footer.site.tracks") ],
        [ explore_tracks_path, t("footer.site.track_groups") ]
      ]
    ) %>

    <%= render FooterLinkSectionComponent.new(
      section: t("footer.legal.section"),
      links: [
        [ terms_of_service_path, t("footer.legal.tos") ],
        [ privacy_path, t("footer.legal.privacy") ],
        [ cookies_path, t("footer.legal.cookies") ]
      ]
    ) %>
  </div>
</div>
