<div class="flex justify-between border-2 border-secondary-bg rounded-2xl p-2">
  <div class="flex justify-start items-start gap-2">
    <div class="w-14 h-14 rounded flex justify-center items-center bg-secondary-bg">
      <% if recommendation.display_image.attached? %>
        <%= image_tag url_for(recommendation.display_image), class: "w-full h-full rounded" %>
      <% else %>
        <%= icon "photo-scan", class: "w-3/4 h-3/4" %>
      <% end %>
    </div>

    <div>
      <div class="flex justify-start items-center gap-2">
        <%= content_tag :p, recommendation.group, class: "text-sm tracking-wider font-bold" %>
        <%= render Ui::DropdownComponent.new(
          id: dom_id(recommendation),
          position: "right",
          trigger_action: "hover"
        ) do |dropdown| %>
          <%= dropdown.with_trigger_button(id: dom_id(recommendation)) do %>
            <%= icon "tag", variant: "filled", class: "w-3 h-3 cursor-pointer text-accent hover:-translate-y-1 transition duration-300 ease-in-out" %>
          <% end %>

          <%= dropdown.with_section do %>
            <div class="rounded-xl bg-secondary-bg px-4 py-2 w-full max-w-60">
              <p class="tracking-wider mb-2">Tags</p>
              <div class="flex gap-2 text-accent flex-wrap w-full">
                <% recommendation.tag_names.each do |name| %>
                  <div class="flex gap-1 justify-center items-center border-1 border-accent rounded-full px-1 text-[0.6rem] whitespace-nowrap">
                    <p><%= name %></p>
                    <%= icon "plus", class: "w-2 h-2" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= content_tag :p, "Created at: #{format_date(recommendation.created_at)}", class: "text-[0.6rem] text-secondary-txt" %>
      <%= content_tag :p, "Modified at: #{format_date(recommendation.updated_at)}", class: "text-[0.6rem] text-secondary-txt" %>
    </div>
  </div>

  <div class="flex justify-end items-center gap-4 pr-4">
    <%= link_to edit_admin_recommendation_path(recommendation) do %>
      <%= icon "edit", class: "text-accent aspect-square w-4" %>
    <% end %>

    <%= button_to admin_recommendation_path(recommendation),
      method: :delete,
      class: "text-error cursor-pointer",
      form: { class: "inline-flex justify-center items-center" },
      data: { turbo_confirm: "Delete recommendation configuration?" } do %>
      <%= icon "trash", class: "aspect-square w-4" %>
    <% end %>
  </div>
</div>
