<%# the width of the card is width of image + 2 in tailwind %>
<div id="<%= dom_id track %>" class="flex flex-col justify-start items-stretch bg-background dark:bg-secondary-bg w-42 h-fit rounded p-1">
  <%= render Tracks::PlayableCoverPhoto.new(track:, size: 40) %>

  <div class="flex flex-col justify-start items-start gap-0.5 px-3 text-[0.6rem] mt-2 w-full">
    <div class="flex justify-start items-stretch text-xs overflow-x-auto whitespace-nowrap w-full max-w-full">
      <p class="truncate mb-2"><%= track.title %></p>
      <%= helpers.seperator_char_ui %>
      <p class="<%= track.is_public? ? "text-success" : "text-error" %>"><%= track.is_public? ? "Public" : "Private" %></p>
    </div>

    <div class="flex justify-start items-center gap-1">
      <%= helpers.icon "calendar", class: "#{icon_dimension}" %>
      <p class="whitespace-nowrap"><%= helpers.format_date(track.created_at) %></p>
    </div>
    <div class="flex justify-start items-center gap-1">
      <%= helpers.icon "activity-heartbeat", class: "#{icon_dimension}" %>
      <p class="whitespace-nowrap"><%= track.bpm ? "#{track.bpm} BPM" : "_" %></p>
    </div>
    <div class="flex justify-start items-center gap-1">
      <%= helpers.icon "piano", class: "#{icon_dimension}" %>
      <p class="whitespace-nowrap"><%= track.key.presence || "_" %></p>
    </div>
    <div class="flex justify-start items-center gap-1">
      <%= helpers.icon "music", class: "#{icon_dimension}" %>
      <p class="whitespace-nowrap"><%= track.genre %></p>
    </div>
    <div class="flex justify-start items-center gap-1">
      <%= helpers.icon "player-play", class: "#{icon_dimension}" %>
      <p class="whitespace-nowrap"><%= track.num_plays %></p>
    </div>
    <div class="flex justify-start items-center gap-1">
      <%= helpers.icon "heart", class: "#{icon_dimension}" %>
      <p class="whitespace-nowrap"><%= track.num_hearts %></p>
    </div>
  </div>

  <div class="flex justify-between items-center text-[0.6rem] px-1 mt-4">
    <div class="<%= helpers.track_file_upload_indicator_styles(track.tagged_mp3) %>">Free</div>
    <div class="<%= helpers.track_file_upload_indicator_styles(track.untagged_mp3) %>">MP3</div>
    <div class="<%= helpers.track_file_upload_indicator_styles(track.untagged_wav) %>">WAV</div>
    <div class="<%= helpers.track_file_upload_indicator_styles(track.track_stems) %>">ZIP</div>
  </div>

  <div class="flex justify-end items-center p-2 mt-1">
    <button id="<%= dom_id(track, :admin_more_dropdown_btn) %>" data-dropdown-toggle="<%= dom_id(track, :admin_more_dropdown) %>"
      data-dropdown-placement="bottom-end" class="w-fit h-fit">
      <%= helpers.icon "dots", class: "cursor-pointer w-4 h-4" %>
    </button>

    <%# More Dropdown %>
    <div id="<%= dom_id(track, :admin_more_dropdown) %>" class="dropdown hidden">
      <ul>
        <li class="dropdown-item" data-track-id="<%= track.id %>" data-action="click->audio-player#play">
          <%= helpers.icon "player-play", class: "aspect-square w-3" %>
          <%= t("label.play") %>
        </li>
        <li class="dropdown-item">
          <%= helpers.icon "pencil", class: "aspect-square w-3" %>
          <%= link_to t("label.edit"), edit_admin_track_path(track) %>
        </li>
        <li class="dropdown-item">
          <%= helpers.icon "eye", class: "aspect-square w-3" %>
          <%= link_to t("admin.see_track"), track_path(track) %>
        </li>
        <li class="dropdown-item text-error">
          <%= helpers.icon "trash", class: "aspect-square w-3" %>
          <%= button_to t("label.delete"), admin_track_path(track), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        </li>
      </ul>
    </div>
  </div>
</div>
