<div data-controller="dropdown-manager" class="relative inline-block"
  data-dropdown-manager-position-value=<%= position %>
  data-dropdown-manager-trigger-action-value=<%= trigger_action %>>
  <%= trigger_button %>

  <%= content_tag :div, id:, data:, class: "dropdown hidden absolute w-max transparent-scrollbar-background #{classes}" do %>
    <% sections.each do |section| %>
      <%= section %>
    <% end %>
  <% end %>
</div>
