<%# transparent bg: bg-[color-mix(in_srgb,var(--color-#{color_class})_95%,transparent)] %>
<div class="<%= "fixed opacity-0 bg-#{bg_color} text-#{text_color} rounded w-fit h-fit p-1 text-xs z-100" %>"
  data-controller="tooltip-manager" data-tooltip-manager-target="container"
  data-tooltip-manager-anchor-id-value="<%= anchor_id %>" data-tooltip-manager-position-value="<%= position %>">

  <%# arrows represent which direction they point, need two directions because of dimension style issues %>
  <div class="<%= "fixed w-0 h-0 border-r-8 border-r-#{bg_color} border-t-8 border-t-transparent border-b-8 border-b-transparent" %>"
    data-tooltip-manager-target="arrowX">
  </div>
  <div class="<%= "fixed w-0 h-0 border-b-8 border-b-#{bg_color} border-l-8 border-l-transparent border-r-8 border-r-transparent" %>"
    data-tooltip-manager-target="arrowY">
  </div>

  <%= body %>
</div>
