<div class="w-full">
  <h1 class="page-title mb-5 text-accent"><%= t("label.#{@track.persisted? ? "update" : "create"}") %></h1>

  <a
    href=<%= admin_tracks_path %>
    class="text-xs font-light flex justify-center items-center gap-1 hover:bg-secondary-bg p-2 rounded-full w-fit whitespace-nowrap">
    <%= icon "arrow-left", class: "w-4 h-4" %>
    <%= t("admin.track.back_to_tracks") %>
  </a>

  <%= form_with(
      model: @track,
      url: @track.persisted? ? admin_track_path(@track) : admin_tracks_path,
      method: @track.persisted? ? :patch : :post,
      class: "track-form flex flex-col justify-center items-center divide-y divide-secondary-txt/15 w-full"
    ) do |form| %>
    <% if @track.errors.any? %>
      <div id="error_explanation" class="flash flash-error">
        <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @track.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="w-full flex justify-start items-stretch">
      <div class="flex flex-col justify-start items-center gap-3">
        <div class="w-40 h-40 bg-secondary-bg rounded-2xl flex justify-center items-center">
          <%= icon "photo-scan", class: "w-1/4 h-1/4 #{@track.cover_photo.attached? ? "hidden" : ""}" %>
          <img id="track-cover-photo-preview"
            src="<%= @track.cover_photo.attached? && @track.persisted? ? url_for(track.cover_photo) : "" %>"
            alt="Cover preview"
            class="object-cover w-full h-full rounded-2xl <%= @track.cover_photo.attached? ? "" : "hidden" %>" />
        </div>
        <div class="flex justify-center items-center w-full">
          <%= link_to track_image_upload_modal_path, class: "flex justify-center items-center gap-1 file-upload-chip w-fit",
            data: { turbo_stream: true } do %>
            <%= icon "plus", class: "w-4 h-4" %>
            <%= t("label.upload") %>
          <% end %>
          <div id="cover-photo-upload-container" class="hidden"></div>
        </div>
      </div>
      <div class="flex flex-col justify-start gap-4 flex-1 ml-8">
        <div class="field content-input-container">
          <%= form.label :title %>
          <%= form.text_field :title, autofocus: false, class: "content-input" %>
        </div>
        <div class="field content-input-container flex-1" data-controller="char-count">
          <div class="flex justify-between items-center w-full">
            <%= form.label :description %>
            <div class="char-count">
              <span data-char-count-target="count">0</span><%= "/#{max_description_length}" %>
            </div>
          </div>
          <%= form.text_area :description, autofocus: false, class: "content-input resize-none flex-1", maxlength: max_description_length,
            data: { char_count_target: "input", action: "input->char-count#count" } %>
        </div>
      </div>
    </section>

    <section class="flex flex-col justify-between items-stretch w-full gap-4">
      <%= render "track_upload", form: form, attachment: @track.tagged_mp3, field: :tagged_mp3, file_for: t("label.tagged_mp3"), playable: true,
        accepted_file_types: ["audio/mpeg"] %>
      <%= render "track_upload", form: form, attachment: @track.untagged_mp3, field: :untagged_mp3, file_for: t("label.untagged_mp3"), playable: true,
        accepted_file_types: ["audio/mpeg"] %>
      <%= render "track_upload", form: form, attachment: @track.untagged_wav, field: :untagged_wav, file_for: t("label.untagged_wav"), playable: true,
        accepted_file_types: ["audio/x-wav", "audio/wav", "audio/vnd.wave"] %>
      <%= render "track_upload", form: form, attachment: @track.track_stems, field: :track_stems, file_for: t("label.track_stems"), playable: false,
        accepted_file_types: ["application/zip"] %>
      <%= render "track_upload", form: form, attachment: @track.project, field: :project, file_for: t("label.project"), playable: false,
        accepted_file_types: ["application/zip"] %>
    </section>

    <section class="flex flex-col justify-center items-stretch w-full gap-2">
      <div class="flex justify-between items-stretch gap-6">
        <div class="field content-input-container">
          <%= form.label :bpm %>
          <%= form.number_field :bpm, autofocus: false, class: "content-input", min: 0, step: 1 %>
        </div>
        <div class="field content-input-container">
          <%= form.label :key %>
          <%= form.select :key, options_for_select(key_options, track.key), {}, class: "content-input" %>
        </div>
        <div class="field content-input-container">
          <%= form.label :genre %>
          <%= form.select :genre, options_for_select(genre_options, track.genre), {}, class: "content-input" %>
        </div>
        <div class="field content-input-container">
          <%= form.label :visibility %>
          <%= form.select :is_public, options_for_select(is_public_options, track.is_public), {}, class: "content-input" %>
        </div>
      </div>
      <div class="w-full" data-controller="chip-selector" data-chip-selector-cur-tags-value="<%= serialize_tags(@track) %>">
        <div class="field content-input-container">
          <%= form.label :tags %>
          <%= form.text_field :tag_input, autofocus: false, class: "content-input",
            data: { chip_selector_target: "input", action: "keydown->chip-selector#handleKeydown" } %>
        </div>
        <div data-chip-selector-target="display" class="flex justify-start items-center flex-wrap gap-1 mt-2"></div>
        <div data-chip-selector-target="tagValues" class="hidden"></div>
      </div>
    </section>

    <section class="w-full flex flex-col justify-center items-start gap-4">
      <%= render Ui::DropdownComponent.new(id: "add-collaboration") do |dropdown| %>
        <% dropdown.with_trigger_button(
          id: "add-collaboration", classes: "cursor-pointer", data: { dropdown_placement: "right" }
        ) do %>
          <div class="full-accent-color-scheme rounded-full py-1 px-2 flex justify-center items-center gap-1 text-xs">
            <%= icon "plus", class: "w-4 h-4 aspect-square" %>
            <p><%= t("admin.track.add_new_collaboration") %></p>
          </div>
        <% end %>

        <% dropdown.with_section do %>
          <ul>
            <li class="dropdown-item">
                <%= link_to_add_association form, :collaborators, class: "dropdown-link", partial: "collaborations/collaborator_fields",
                  data: { association_insertion_node: "##{dom_id(@track, :collaborators)}", association_insertion_method: "append" } do %>
                  <%= icon "affiliate", class: "w-4 h-4" %>
                  <p><%= t("admin.track.add_collaborator") %></p>
                <% end %>
            </li>
            <li class="dropdown-item">
                <%= link_to_add_association form, :samples, class: "dropdown-link", partial: "collaborations/sample_fields",
                  data: { association_insertion_node: "##{dom_id(@track, :samples)}", association_insertion_method: "append" } do %>
                  <%= icon "vinyl", class: "w-4 h-4" %>
                  <p><%= t("admin.track.add_sample") %></p>
                <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>

      <%# Alternative to nested form with stimulus_nested_forms: https://www.youtube.com/watch?v=7JNRZLTRDCc %>
      <%# Example tutorial: https://www.youtube.com/watch?v=7JNRZLTRDCc %>

      <%= content_tag :div, id: dom_id(@track, :collaborators),
        class: "flex flex-col justify-start items-start gap-4 w-full" do %>
        <div class="flex justify-start items-center gap-1 text-accent text-xs font-bold mt-2 -mb-1">
          <%= icon "affiliate", class: "w-4 h-4" %>
          <%= content_tag :h2, t("label.collaborators") %>
        </div>
        <%= form.fields_for :collaborators do |cf| %>
          <%= render "collaborations/collaborator_fields", f: cf %>
        <% end %>
      <% end %>

      <%= content_tag :div, id: dom_id(@track, :samples),
        class: "flex flex-col justify-start items-start gap-4 w-full" do %>
        <div class="flex justify-start items-center gap-1 text-accent text-xs font-bold mt-2 -mb-1">
          <%= icon "vinyl", class: "w-4 h-4" %>
          <%= content_tag :h2, t("label.samples") %>
        </div>
        <%= form.fields_for :samples do |sf| %>
          <%= render "collaborations/sample_fields", f: sf %>
        <% end %>
      <% end %>
    </section>

    <section class="flex justify-end items-stretch w-full">
      <%= form.submit t("label.#{@track.persisted? ? "update" : "create"}"), class: "button px-4 py-2" %>
    </section>
  <% end %>
</div>
