<div class="flex flex-col justify-start items-start w-full h-full px-16 py-4">
  <h1 class="font-bold text-4xl mb-3"><%= t("label.#{@track.persisted? ? "update" : "create"}") %></h1>

  <a
    href=<%= admin_tracks_path %>
    class="text-xs font-light flex justify-center items-center gap-1 hover:bg-secondary-bg p-2 rounded-full">
    <%= icon "arrow-left", class: "w-4 h-4" %>
    <%= t("admin.track.back_to_tracks") %>
  </a>

  <%= form_with(
      model: @track,
      url: @track.persisted? ? admin_track_path(@track) : admin_tracks_path,
      method: @track.persisted? ? :patch : :post,
      class: "track-form flex flex-col justify-center items-center divide-y divide-secondary-txt/30 w-full h-full"
    ) do |form| %>
    <% if @track.errors.any? %>
      <div id="error_explanation" class="px-3 py-2 font-medium rounded w-full border-1 border-error/20 bg-error/20 text-error">
        <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @track.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="w-full flex justify-start items-stretch" data-controller="upload">
      <div class="flex flex-col justify-start items-center gap-3">
        <div class="w-40 h-40 bg-secondary-bg rounded-2xl flex justify-center items-center">
          <%= icon "photo-scan", class: "w-1/4 h-1/4", data: { upload_target: "imgPlaceholder" } %>
          <img id="cover-photo-preview"
            src="<%= track_image_url %>"
            alt="Cover preview"
            data-upload-target="imgCover"
            class="object-cover w-full h-full <%= has_img_attached? ? "" : "hidden" %>" />
        </div>
        <div class="flex justify-center items-center w-full">
          <label for="cover-photo-upload" class="flex justify-center items-center gap-1 file-upload-chip w-fit">
            <%= icon "plus", class: "w-4 h-4" %>
            <%= t("label.upload") %>
          </label>
          <%= form.file_field :cover_photo, id: "cover-photo-upload", class: "hidden",
            data: { upload_target: "imgUpload", action: "change->upload#image_upload" } %>
        </div>
      </div>
      <div class="flex flex-col justify-start gap-4 flex-1 ml-8">
        <div class="field content-input-container">
          <%= form.label :title %>
          <%= form.text_field :title, autofocus: true, class: "content-input" %>
        </div>
        <%# TODO add description when ready %>
        <!--
        <div class="field content-input-container flex-1">
          <%= form.label :description %>
          <%= form.text_area :title, autofocus: true, class: "content-input resize-none flex-1" %>
        </div>
        -->
      </div>
    </section>

    <section class="flex justify-between items-center w-full gap-4" data-controller="upload">
      <%= render "track_upload", form: form, field: :tagged_mp3, file_for: t("label.tagged_mp3") %>
      <%= render "track_upload", form: form, field: :untagged_mp3, file_for: t("label.untagged_mp3") %>
      <%= render "track_upload", form: form, field: :untagged_wav, file_for: t("label.untagged_wav") %>
      <%= render "track_upload", form: form, field: :track_stems, file_for: t("label.track_stems") %>
    </section>

    <section class="flex flex-col justify-center items-stretch w-full">
      <div class="flex justify-between items-stretch gap-6">
        <div class="field content-input-container">
          <%= form.label :bpm %>
          <%= form.number_field :bpm, autofocus: true, class: "content-input", min: 0, step: 1 %>
        </div>
        <div class="field content-input-container">
          <%= form.label :key %>
          <%= form.select :key, options_for_select(key_options), {}, class: "content-input" %>
        </div>
        <div class="field content-input-container">
          <%= form.label :is_public %>
          <%= form.select :is_public, options_for_select(is_public_options), {}, class: "content-input" %>
        </div>
      </div>
    </section>

    <section class="flex justify-end items-stretch w-full">
      <%= form.submit t("label.#{@track.persisted? ? "update" : "create"}"), class: "button px-4 py-2" %>
    </section>
  <% end %>
</div>