<%= content_tag :div, class: "flex justify-center items-center w-full flex-1",
  data: { controller: "track-upload", track_upload_accepted_file_types_value: accepted_file_types } do %>
  <label
    for=<%= generate_id(file_for) %>
    class="
      flex flex-col justify-center items-center rounded w-full h-full cursor-pointer py-4
      <%= track_upload_style(attachment) %>
    ">
    <p><%= t("admin.track.upload_file", file_for: file_for) %></p>
    <%= form.file_field field, id: generate_id(file_for), class: "hidden",
      data: { upload_target: "upload", action: "change->track-upload#upload" } %>
  </label>
<% end %>