<% title("All Tracks") %>

<div class="w-full">
  <%= render PageTitleComponent.new(
    title: t("label.tracks"),
    subtitle: t("admin.track.manage_tracks_here")
  ) %>

  <a href=<%= new_admin_track_path %> class="button w-fit px-2 py-1 mb-4">
    <%= icon "plus", class: "w-4 h-4" %>
    <span class="ml-2"><%= t("label.create") %></span>
  </a>

  <%= render "filters/tracks", q: @q, url: admin_tracks_path, options: { render_sort: true } %>

  <div class="w-full flex justify-start mt-8 mb-3">
    <%== pagy_info(@pagy) %>
  </div>

  <div id="tracks" class="min-w-full">
    <%= render partial: "admin/tracks/list", locals: { tracks: @tracks } %>
  </div>
</div>
