<% title("All Tracks") %>

<div class="w-full">
  <%= render "shared/page_title",
    title: t("label.tracks"),
    subtitle: t("admin.track.manage_tracks_here")
  %>

  <%= render "shared/flash_notice" %>
  <%= render "shared/flash_error" %>

  <a href=<%= new_admin_track_path %> class="button w-fit px-2 py-1 mb-4">
    <%= icon "plus", class: "w-4 h-4" %>
    <span class="ml-2"><%= t("label.create") %></span>
  </a>

  <%= render "tracks/filter", url: admin_tracks_path %>

  <div class="w-full flex justify-start mt-8 mb-2">
    <%== pagy_info(@pagy) %>
  </div>

  <div id="tracks" class="min-w-full">
    <%= render partial: "admin/tracks/track_list", locals: { tracks: @tracks } %>
  </div>
</div>
