<div class="flex justify-start items-stretch gap-4 my-8 w-full">
  <%= render AvatarComponent.new(user: current_user, size: 10) %>

  <%= form_with(
    model: Comment.new,
    url: comments_path,
    method: :post,
    data: {
      controller: "comment-form",
      comment_form_target: "form",
      action: "turbo:submit-end->comment-form#reset"
    }
  ) do |f| %>
    <%= f.hidden_field :entity_type, value: entity_class %>
    <%= f.hidden_field :entity_id, value: entity_id %>

    <div class="flex-1 flex justify-center items-center gap-2" data-controller="char-count">
      <%= f.text_field :content, autofocus: false, maxlength: Comment::MAX_COMMENT_LENGTH,
        autocomplete: "off", required: true, data: { char_count_target: "input", action: "input->char-count#count" },
        class: "focus:outline-none focus:ring-0 focus:border-b-primary-txt border-b-secondary-txt/60 border-b-1 w-full text-md p-2 cursor-select"
      %>
      <div class="char-count">
        <span data-char-count-target="count" data-comment-form-target="charCount">0</span><%= "/#{Comment::MAX_COMMENT_LENGTH}" %>
      </div>

      <% if current_user %>
        <button type="submit" class="aspect-square rounded-full p-1.5 bg-secondary-bg hover:bg-hover cursor-pointer">
          <%# disable turbo maybe to trigger full refresh?, data turbo false %>
          <%= icon "send", class: "send-comment w-4 h-4 aspect-square text-accent" %>
        </button>
      <% else %>
        <div class="aspect-square rounded-full p-1.5 bg-secondary-bg hover:bg-hover cursor-pointer">
          <%= link_to auth_prompt_modal_path, data: { turbo_stream: true } do %>
            <%= icon "send", class: "send-comment w-4 h-4 aspect-square text-accent" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
