<turbo-frame id="modal">
  <%= render "modals/header", title: t("authentication.auth_prompt_title") %>
  <div class="flex flex-col justify-center items-center gap-10 text-secondary-txt w-full">
    <p><%= t("authentication.auth_prompt_message") %></p>
    <div class="flex flex-col justify-center items-center gap-2">
      <p><%= t("authentication.auth_prompt_log_in") %></p>
      <a href="<%= new_user_session_path %>" target="_blank" rel="noopener noreferrer" class="button w-fit px-1">
        <%= t("label.log_in") %>
      </a>
    </div>
    <div class="flex flex-col justify-center items-center gap-2">
      <p><%= t("authentication.auth_prompt_sign_up") %></p>
      <a href="<%= new_user_registration_path %>" target="_blank" rel="noopener noreferrer" class="button w-fit px-1">
        <%= t("label.sign_up") %>
      </a>
    </div>
  </div>
  <%= render "modals/footer", cancel: t("label.close") %>
</turbo-frame>
