<%= render Ui::ModalComponent.new(size: :lg) do |modal| %>
  <%= modal.with_header(title: t("authentication.auth_prompt_title"), size: :md) %>

  <%= modal.with_body do %>
    <div class="py-8 px-16 max-sm:px-6 w-full h-full text-center">
      <div class="w-full flex flex-col justify-center items-center gap-4">
        <p class="mb-6 text-primary-txt">
          <%= t("authentication.auth_prompt_message") %>
        </p>

        <div class="w-full">
          <p class="mb-2 text-sm text-secondary-txt">
            <%= t("authentication.auth_prompt_log_in") %>
          </p>

          <%= link_to t("label.log_in"), new_user_session_path, target: "_blank", rel: "noopener noreferrer",
            class: "button inline-flex px-4 py-1 text-sm" %>
        </div>

        <div class="w-full">
          <p class="mb-2 text-sm text-secondary-txt">
            <%= t("authentication.auth_prompt_sign_up") %>
          </p>

          <%= link_to t("label.sign_up"), new_user_registration_path, target: "_blank", rel: "noopener noreferrer",
            class: "button inline-flex px-4 py-1 text-sm" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= modal.with_footer(cancel_label: t(t("label.close"))) %>
<% end %>
