<%= render Ui::ModalComponent.new(size: :lg) do |modal| %>
  <%= modal.with_header(title: t("authentication.auth_prompt_title"), size: :md) %>

  <%= modal.with_body do %>
    <div class="flex flex-col justify-center items-center gap-10 text-center text-secondary-txt w-full px-2 py-8 max-md:gap-4">
      <p class="text-primary-txt"><%= t("authentication.auth_prompt_message") %></p>
      <div class="flex flex-col justify-center items-center gap-2">
        <p class="font-light"><%= t("authentication.auth_prompt_log_in") %></p>
        <a href="<%= new_user_session_path %>" target="_blank" rel="noopener noreferrer" class="button w-fit px-2 py-1">
          <%= t("label.log_in") %>
        </a>
      </div>
      <div class="flex flex-col justify-center items-center gap-2">
        <p class="font-light"><%= t("authentication.auth_prompt_sign_up") %></p>
        <a href="<%= new_user_registration_path %>" target="_blank" rel="noopener noreferrer" class="button w-fit px-2 py-1">
          <%= t("label.sign_up") %>
        </a>
      </div>
    </div>
  <% end %>

  <%= modal.with_footer(cancel_label: t(t("label.close"))) %>
<% end %>
