<turbo-frame id="modal">
  <%= render "modals/header", title: t("authentication.delete_account") %>
  <div class="py-8 px-4">
    <h1 class="text-xl font-bold"><%= t("profile.delete_account_confirmation_title") %></h1>
    <h2 class="font-light mt-2"><%= t("profile.delete_account_confirmation_explaination") %></h2>
    <%# TODO link to TOS and privacy page %>
  </div>
  <% content_for :modal_footer_content do %>
    <div class="button-critical px-2 py-1" data-modal-hide="default-modal"
      data-controller="delete-modal" data-action="click->delete-modal#delete"
      data-delete-modal-delete-api-url-value="<%= user_registration_path %>" >
      <%= t("label.delete") %>
    </div>
  <% end %>
  <%= render "modals/footer" %>
</turbo-frame>
