<%= render Ui::ModalComponent.new(size: :md) do |modal| %>
  <%= modal.with_header(title: t("authentication.delete_account"), size: :md) %>

  <%= modal.with_body do %>
    <div class="py-8 px-4">
      <p class="text-lg font-bold"><%= t("profile.delete_account_confirmation_title") %></p>
      <p class="text-xs font-light mt-2">
        <%= t("profile.delete_account_confirmation_explaination_html",
          tos_link: link_to(t("label.terms_of_service"), terms_of_service_path,
            target: "_blank", rel: "noopener noreferrer", class: "underline text-accent").html_safe,
          privacy_link: link_to(t("label.privacy_policy"), root_path,
            target: "_blank", rel: "noopener noreferrer", class: "underline text-accent").html_safe,
        ) %>
      </p>
      <%# TODO link to privacy page %>
    </div>
  <% end %>

  <%= modal.with_footer(size: :md) do |footer| %>
    <%= footer.with_primary_action do %>
      <%= button_to user_registration_path(current_user), method: :delete,
        class: "button-critical px-2 py-1",
        data: { turbo: false } do %>
        <%= t("label.delete") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

