<turbo-frame id="modal">
  <%= render "modals/header", title: t("comment.delete_comment") %>

  <div class="py-8 px-4">
    <p><%= t("comment.comment_deletion_confirmation") %></p>
    <p><%= t("comment.action_cannot_be_undone") %></p>
  </div>

  <% content_for :modal_footer_content do %>
    <%= button_to comment_path(comment), method: :delete,
      class: "button-critical px-2 py-1",
      data: { modal_hide: "default-modal" } do %>
      <p><%= t("label.delete") %></p>
    <% end %>
  <% end %>
  
  <%= render "modals/footer" %>
</turbo-frame>
