<%= render Ui::ModalComponent.new(size: :lg,
  data: {
    controller: "upload crop",
    upload_model_field_value: model_field,
    upload_img_destination_id_value: img_destination_id,
    upload_file_upload_input_container_id_value: file_upload_input_container_id
  }
) do |modal| %>
  <%= modal.with_header(title: t("general.upload_file"), size: :md) %>

  <%= modal.with_body do %>
    <div class="flex items-center justify-center w-full modal-body">
      <label for="dropzone-file" class="relative flex flex-col items-center justify-center w-full h-64 cursor-pointer bg-secondary-bg hover:bg-hover">
        <div class="flex flex-col items-center justify-center pt-5 pb-6 w-full h-full rounded-lg border-2 border-dashed border-secondary-txt" data-upload-target="imgPlaceholder">
          <%= icon "cloud-up", class: "text-secondary-txt w-10 h-10 mb-2" %>
          <p class="mb-2 text-sm text-secondary-txt"><%= t("general.upload_instruction") %></p>
          <p class="text-xs text-secondary-txt"><%= t("general.accepted_image_types") %></p>
        </div>
        <div id="image-modal-cropper-container" class="w-full h-full absolute top-0 left-0">
          <img id="img-upload-crop" src="" alt=""  data-crop-target="image" data-upload-target="imgCover" />
        </div>
        <input id="dropzone-file" type="file" class="hidden" data-upload-target="imgUpload" data-action="change->upload#image_upload" />
      </label>
    </div>
  <% end %>

  <%= modal.with_footer do |footer| %>
    <%= footer.with_primary_action do %>
      <button type="button" class="button px-2 py-1" data-action="click->crop#cropImage">
        <%= t("label.upload") %>
      </button>
    <% end %>
  <% end %>
<% end %>

<turbo-frame id="modal">

</turbo-frame>
