<%= render Ui::ModalComponent.new(size: :xl) do |modal| %>
  <%= modal.with_header(title: t("modal.title.preview_contract"), size: :md) %>

  <%= modal.with_body do %>
    <div class="px-8 py-4 font-light">
      <%= markdown(content) %>
    </div>
  <% end %>

  <%= modal.with_footer(cancel_label: t(t("label.close"))) do |footer| %>
    <% if order_item_id.present? %>
      <% footer.with_primary_action do %>
        <%= link_to download_order_item_contract_path(id: order_item_id),
          target: "_blank", rel: "noopener",
          class: "button px-2 py-1", data: { turbo: false } do %>
          <%= t("modal.preview_contract.download_contract") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
