<%= render Ui::ModalComponent.new(size: :xl) do |modal| %>
  <%= modal.with_header(title: t("modal.track_purchase.title"), size: :md) %>

  <%= modal.with_body do %>
    <div class="px-4 py-8">
      <%= render partial: "tracks/license_usages", locals: { licenses: track.licenses, partial_id: } %>
    </div>
  <% end %>

  <%= modal.with_footer(cancel_label: t(t("label.close"))) %>
<% end %>
