<% content_for :title, t("purchases.index.page_title") %>

<%= render PageTitleComponent.new(
  title: t("purchases.index.title"),
  subtitle: t("purchases.index.subtitle")
) %>

<% unless @purchases.size == 0 %>
  <div class="flex flex-col justify-center items-center w-full mt-4">
    <% @purchases.each do |item| %>
      <div class="w-full">
        <%= render Ui::AccordianComponent.new do |accordian| %>
          <% accordian.with_summary do %>
            <div class="flex justify-start items-center w-full gap-4">
              <div class="rounded bg-secondary-bg w-8 h-8 min-w-8 min-h-8">
                <%# TODO should duplicate the preview photo as well %>
                <% preview_photo = Track.find_by(id: item.product_snapshot["id"])&.cover_photo %>
                <% if preview_photo.nil? %>
                  <div class="flex justify-center items-center w-full h-full">
                    <%= icon "photo-scan" %>
                  </div>
                <% else %>
                  <%= image_tag url_for(preview_photo), class: "cover-photo object-cover rounded w-full h-full" %>
                <% end %>
              </div>
              <div class="flex flex-col justify-center items-start flex-1 w-10 truncate">
                <div class="text-sm w-full text-left truncate"><%= product_name(item) %></div>
                <%= product_info_ui(item) %>
              </div>
            </div>
          <% end %>
          <% accordian.with_body do %>
            <% item.files.each do |file| %>
              <%= file.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="w-full h-full flex justify-center items-center font-light italic text-secondary-txt">
    <%= t("purchases.index.no_purchases") %>
  </p>
<% end %>
