<% content_for :title, t("purchases.index.page_title") %>

<%= render PageTitleComponent.new(
  title: t("purchases.index.title"),
  subtitle: t("purchases.index.subtitle")
) %>

<% unless @purchases.size == 0 %>
  <div class="flex flex-col justify-center items-center w-full">
    <% @purchases.each do |item| %>
      <div class="w-full">
        <%= render Ui::AccordianComponent.new do |accordian| %>
          <% accordian.with_summary do %>
            <%= item.id %>
          <% end %>
          <% accordian.with_body do %>
            <%= item.product_type %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="w-full h-full flex justify-center items-center font-light italic text-secondary-txt">
    <%= t("purchases.index.no_purchases") %>
  </p>
<% end %>
