<% content_for :title, "Dashboard" %>

<h2 class="mb-4 text-3xl font-light">Quick Stats</h2>
<div class="grid grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-2 gap-x-6 gap-y-3 w-full"
  data-tabs-toggle="#admin-dashboard-quick-stats" role="tablist">
  <%= render partial: "admin/dashboards/quick_stats_tab", locals: { icon_name: "receipt-dollar", title: "Sales", stats: @cum_stats[:revenue], tab_id: :revenue } %>
  <%= render partial: "admin/dashboards/quick_stats_tab", locals: { icon_name: "player-play", title: "Plays", stats: @cum_stats[:plays], tab_id: :plays } %>
  <%= render partial: "admin/dashboards/quick_stats_tab", locals: { icon_name: "heart", title: "Hearts", stats: @cum_stats[:hearts], tab_id: :hearts } %>
  <%= render partial: "admin/dashboards/quick_stats_tab", locals: { icon_name: "message", title: "Comments", stats: @cum_stats[:comments], tab_id: :comments } %>
</div>
<div id="admin-dashboard-quick-stats">
  <% @cum_stats.each do |tab_id, _| %>
    <div id="<%= "#{tab_id}_chart" %>" class="hidden" role="tabpanel"></div>
  <% end %>
</div>