<div class="p-4 text-gray-900 dark:text-white w-70 min-w-70 max-w-70 select">
  <div class="text-[1rem] mb-4"><%= t("cart.nav.title", count: current_or_guest_user.cart.total_items) %></div>

  <% if current_or_guest_user.cart.empty? %>
    <div class="flex flex-col justify-center items-center w-full h-full py-10 text-center">
      <%= icon "shopping-cart", class: "w-20 h-20 aspect-square text-secondary-txt mb-2" %>
      <p class="text-lg"><%= t("cart.nav.empty_title") %></p>
      <p class="font-light text-secondary-txt text-wrap"><%= t("cart.nav.empty_subtitle") %></p>
    </div>
  <% else %>
    <div class="flex flex-col justify-start items-center gap-2 w-full max-h-[50vh] overflow-scroll transparent-scrollbar-background">
      <% current_or_guest_user.cart.available_items.each do |item| %>
        <div class="flex justify-between items-center gap-2 w-full">
          <div class="w-10 h-10 aspect-square">
            <% if cart_item_has_photo?(item) %>
              <%= image_tag cart_item_photo_url(item), class: "rounded" %>
            <% else %>
              <div class="border-1 border-hover rounded w-full h-full flex justify-center items-center bg-hover">
                <%= icon "photo-scan", class: "w-6 h-6 aspect-square" %>
              </div>
            <% end %>
          </div>
          <div class="flex-1 flex flex-col justify-between items-start truncate">
            <p class="truncate w-full"><%= cart_item_product_title(item) %></p>
            <div class="flex justify-start items-center gap-1 truncate w-full text-[0.6rem] font-light text-secondary-txt">
              <p><%= item.product_type %></p>
              <%= seperator_char_ui %>
              <p><%= item.license.title %></p>
            </div>
          </div>
          <div>
            <%= item.license.price.format %>
          </div>
          <div class="flex justify-center items-center">
            <%= link_to cart_item_path(item), data: { turbo_method: "delete" },
              class: "text-center cursor-pointer" do %>
              <%= icon "x", class: "w-4 w-4" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="py-2 font-light text-secondary-txt italic">
        <%= t("cart.nav.num_items_unavailable", count: current_or_guest_user.cart.unavailable_items_count) %>
      </div>
    </div>
    <%= link_to t("cart.nav.checkout_button"), cart_path, class: "button w-full py-1 mt-4" %>
  <% end %>
</div>
