<nav
  class="
    flex justify-between items-center flex-nowrap w-full px-6 max-sm:px-3 py-2 z-100
  bg-background/95 backdrop-blur-md sticky top-0 left-0
    shadow-xs dark:shadow-secondary-bg
  "
>
  <div class="text-amber-300"><a href="<%= root_path %>">Temperary Logo</a></div>
  <ul class="flex items-center gap-4 flex-nowrap text-xs">
    <li class="nav-responsive">
      <a href="<%= tracks_path %>"><%= t("label.tracks") %></a>
    </li>
    <%# TODO add path to these patges when available %>
    <li class="nav-responsive">
      <a href="<%= tracks_path %>"><%= t("label.contact") %></a>
    </li>
    <% if current_user && current_user.admin? %>
      <li>
        <a href="<%= admin_path %>"><%= icon "lock", class: "w-4 h-4" %></a>
      </li>
    <% end %>
    <li data-controller="dark-mode">
      <span
        data-dark-mode-target="icon" data-action="click->dark-mode#toggle"
        class="w-full h-full rounded-full cursor-pointer">
      </span>
    </li>
    <li class="nav-responsive">
      <%= render Ui::DropdownComponent.new(
        id: "nav-cart-dropdown",
        classes: "absolute top-full rounded-lg shadow-sm hidden w-auto select-none text-primary-txt bg-background divide-y"
      ) do |dropdown| %>
        <%= dropdown.with_trigger_button(
          id: "nav-cart-dropdown",
          classes: "nav-dropdown",
          data: { dropdown_placement: "bottom-end" }
        ) do %>
          <%= icon "shopping-bag", id: "nav_cart_icon", class: "nav-cart-icon" %>
          <p id="nav_cart_total_price"><%= cart_items_total_price(current_or_guest_user.cart) %></p>
          <%= icon "chevron-down", class: "w-3 h-3 text-secondary-txt" %>
        <% end %>

        <%= dropdown.with_section do %>
          <div id="navbar_cart_content" class="w-full h-full">
            <%= render partial: "nav/cart" %>
          </div>
        <% end %>
      <% end %>
    </li>
    <% if current_user %>
      <li>
        <%# User dropdown %>
        <%= render Ui::DropdownComponent.new(
          id: "navbar-user-dropdown",
          classes: "w-44 whitespace-nowrap"
        ) do |dropdown| %>
          <%= dropdown.with_trigger_button(
            id: "navbar-user-dropdown",
            classes: "nav-dropdown",
            data: { dropdown_placement: "bottom-end" }
          ) do %>
            <%= render AvatarComponent.new(user: current_user, size: 6) %>
            <%= icon "chevron-down", class: "w-3 h-3 min-w-3 min-h-3 aspect-square text-secondary-txt" %>
          <% end %>

          <%= dropdown.with_section do %>
            <div class="px-4 py-3 text-primary-txt truncate text-[0.6rem]">
              <div class="text-xs"><%= current_user.display_name %></div>
              <div class="italic"><%= current_user.email %></div>
              <!--- <div class="italic"><%= "@#{current_user.username}" %></div> --->
            </div>
          <% end %>

          <%= dropdown.with_section do %>
            <%# TODO fill in with actual links %>
            <ul class="py-2">
              <li class="dropdown-item">
                <%= render Ui::Dropdown::LinkComponent.new(
                  url: users_purchases_path,
                  text: t("label.purchases"),
                  icon: "currency-dollar",
                  icon_size: 4
                ) %>
              </li>
              <li class="dropdown-item">
                <%= render Ui::Dropdown::LinkComponent.new(
                  url: orders_path,
                  text: t("label.orders"),
                  icon: "basket-check",
                  icon_size: 4
                ) %>
              </li>
              <li class="dropdown-item">
                <%= render Ui::Dropdown::LinkComponent.new(
                  url: cart_path,
                  text: t("label.cart"),
                  icon: "shopping-bag",
                  icon_size: 4
                ) %>
              </li>
              <li class="dropdown-item">
                <%= render Ui::Dropdown::LinkComponent.new(
                  url: users_hearts_path,
                  text: t("label.liked_tracks"),
                  icon: "heart",
                  icon_size: 4
                ) %>
              </li>
              <li class="dropdown-item">
                <%= render Ui::Dropdown::LinkComponent.new(
                  url: edit_users_profile_path,
                  text: t("label.account_settings"),
                  icon: "settings",
                  icon_size: 4
                ) %>
              </li>
            </ul>
          <% end %>

          <%= dropdown.with_section do %>
            <div class="py-1 w-full">
              <%= link_to destroy_user_session_path, class: "dropdown-item text-error",
                data: { turbo_method: "delete" } do %>
                <%= icon "logout", class: "w-4 h-4 text-error" %>
                <%= t("label.sign_out") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% else %>
      <li class="text-secondary-txt font-light text-nowrap">
        <a href="<%= new_user_session_path %>" class="hover:text-primary-txt"><%= t(".auth.sign_in") %></a>
        <span class="h-full border-l-1 mx-2"></span>
        <a href="<%= new_user_registration_path %>" class="hover:text-primary-txt"><%= t(".auth.sign_up") %></a>
      </li>
    <% end %>

    <div class="sm:hidden -ml-2">
      <%# Menu dropdown %>
      <%= render Ui::DropdownComponent.new(
        id: "navbar-menu-dropdown",
        classes: "sm:hidden w-36"
      ) do |dropdown| %>
        <%= dropdown.with_trigger_button(
          id: "navbar-menu-dropdown",
          classes: "cursor-pointer hover:bg-hover rounded-full p-1",
          data: { dropdown_placement: "bottom-end" }
        ) do %>
          <%= icon "menu-deep", class: "w-5 h-5 aspect-square" %>
        <% end %>

        <%= dropdown.with_section do %>
          <ul class="py-2">
            <li class="dropdown-item">
              <%= render Ui::Dropdown::LinkComponent.new(
                url: tracks_path,
                text: t("label.tracks"),
                icon: "vinyl",
                icon_size: 4
              ) %>
            </li>
            <li class="dropdown-item">
              <%= render Ui::Dropdown::LinkComponent.new(
                url: cart_path,
                text: t("label.cart"),
                icon: "shopping-bag",
                icon_size: 4
              ) %>
            </li>
            <li class="dropdown-item">
              <%= render Ui::Dropdown::LinkComponent.new(
                url: tracks_path,
                text: t("label.contacts"),
                icon: "address-book",
                icon_size: 4
              ) %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </ul>
</nav>
