<div class="<%= "relative flex justify-center items-center bg-secondary-bg rounded cursor-pointer #{image_size}" %>"
  data-controller="playable-cover-photo" data-playable-cover-photo-target="container">
  <% if track.cover_photo.attached? %>
    <%= image_tag url_for(track.cover_photo), class: "cover-photo object-cover rounded #{image_size}" %>
  <% else %>
    <%= icon "photo-scan", class: "cover-photo w-1/4 h-1/4" %>
  <% end %>
  <div class="hidden absolute top-0 left-0 w-full h-full aspect-square bg-black/50"
    data-playable-cover-photo-target="playTrigger" data-track-id="<%= track.id %>" data-action="click->audio-player#play">
    <div class="w-full h-full flex justify-center items-center">
      <button type="button" class="w-fit h-fit aspect-square p-2 rounded-full border-1 border-white cursor-pointer">
        <%= icon "player-play", variant: "filled", class: "play-btn w-4 h-4 aspect-square text-white" %>
      </button>
    </div>
  </div>
</div>
