<div class="relative w-full h-full"
  data-controller="playable-cover-photo" data-playable-cover-photo-target="container"
  data-playable-cover-photo-track-id-value="<%= track.id %>">
  <% if track.cover_photo.attached? %>
    <%= image_tag url_for(track.cover_photo), class: "cover-photo object-cover rounded #{image_size}" %>
  <% else %>
    <div class="<%= "flex justify-center items-center bg-secondary-bg rounded #{image_size}" %>">
      <%= icon "photo-scan", class: "cover-photo w-1/4 h-1/4" %>
    </div>
  <% end %>
  <div class="absolute bottom-2 right-2 bg-background rounded-full p-2 hover:bg-hover cursor-pointer select-none border-[1px]"
    data-action="click->playable-cover-photo#togglePlay">
    <%= icon "player-play", variant: "filled", class: "w-5 h-5", data: {
      playable_cover_photo_target: "play",
      action: "click->playable-cover-photo#pause"
    } %>
    <%= icon "player-pause", variant: "filled", class: "hidden w-5 h-5", data: {
      playable_cover_photo_target: "pause",
      action: "click->playable-cover-photo#play"
    } %>
  </div>
</div>
