<div id="<%= dom_id track %>" class="track flex justify-between items-stretch w-full sm:w-auto rounded p-2 hover:bg-hover cursor-pointer"
  data-track-id="<%= track.id %>" data-action="click->audio-player#play"
>
  <div class="flex justify-start itmes-center gap-4 truncate min-w-30">
    <div class="flex justify-center items-center rounded w-8 h-8 min-w-8 min-h-8 bg-secondary-bg">
      <% if track.cover_photo.attached? %>
        <img src="<%= url_for(track.cover_photo) %>" class="cover-photo flex justify-center items-center w-full h-full rounded">
      <% else %>
        <%= icon "photo-scan", class: "cover-photo" %>
      <% end %>
    </div>
    <div class="flex flex-col justify-between items-start">
      <%= content_tag :div, track.title, class: "text-sm cursor-pointer hover:underline",
        data: {
          action: "click->audio-player#navToTrack",
          track_id: track.id,
        } %>
      <div class="flex justify-start items-center gap-1 text-secondary-txt text-[0.6rem]">
        <span><%= "#{track.bpm} BPM" %></span>
        <%= seperator_char_ui %>
        <span><%= track.key %></span>
        <%= seperator_char_ui %>
        <span><%= track.genre %></span>
      </div>
    </div>
  </div>
  <div class="flex justify-end items-center gap-4 shrink-0 cursor-pointer">
    <div class="flex justify-start items-center gap-1 text-[0.6rem] max-w-60 max-lg:max-w-40 overflow-x-auto hide-scrollbar max-md:hidden">
      <% track.tags.each do |tag| %>
        <%= render TagComponent.new(name: tag.name) %>
      <% end %>
    </div>

    <%= link_to download_track_free_path(track), target: "_blank", rel: "noopener", class: "flex justify-center items-center gap-1 chip-accent text-[0.6rem]",
      data: { action: "click->audio-player#stopPropagation" } do %>
      <%= icon "download", class: "w-3 h-3" %>
      <span class="max-sm:hidden"><%= t("label.free").downcase %></span>
    <% end %>

    <%= content_tag :div,
      class: "button text-xs px-1 py-1.5 flex justify-center items-center gap-1 sm:min-w-18",
      data: {
        track_purchase_modal_url: track_purchase_modal_path(@track),
        action: "click->audio-player#fetchTrackPurchaseModal"
      } do %>
      <%= icon "shopping-bag", class: "w-4 h-4" %>
      <% unless track.profitable_licenses.count == 0 %>
        <span class="max-sm:hidden"><%= track.cheapest_price %></span>
      <% end %>
    <% end %>

    <%# Track more dropdown %>
    <%= render Ui::DropdownComponent.new(
      id: dom_id(@track, :track_more),
      data: { action: "click->audio-player#stopPropagation" }
    ) do |dropdown| %>
      <%= dropdown.with_trigger_button(
        id: dom_id(@track, :track_more),
        data: { action: "click->audio-player#stopPropagation" }
      ) do %>
        <%= icon "dots-vertical", class: "w-4 h-4 cursor-pointer" %>
      <% end %>

      <% icon_size = "w-3 h-3" %>

      <%= dropdown.with_section do %>
        <ul>
          <li class="dropdown-item" data-track-id="<%= @track.id %>" data-action="click->audio-player#play">
            <%= icon "player-play", class: icon_size %>
            <%= t("label.play") %>
          </li>
          <li class="dropdown-item" data-action="click->audio-player#fetchTrackPurchaseModal"
            data-track-purchase-modal-url="<%= track_purchase_modal_path(@track) %>">
            <%= icon "shopping-bag", class: icon_size %>
            <%= t("track.add_to_cart") %>
          </li>
        </ul>
      <% end %>

      <%= dropdown.with_section do %>
        <ul>
          <li class="dropdown-item">
            <%= icon "heart", variant: "filled", class: icon_size %>
            <%# TODO toast to show like successful %>
            <% if @user %>
              <%= button_to t("track.heart_track"), track_heart_path(@track), method: :post, class: "cursor-pointer" %>
            <% else %>
              <%= link_to auth_prompt_modal_path, data: { turbo_stream: true } do %>
                <%= t("track.heart_track") %>
              <% end %>
            <% end %>
          </li>
          <li class="dropdown-item">
            <%= render Ui::Dropdown::LinkComponent.new(
              url: "#{track_path(@track)}#comments",
              text: t("label.comment"),
              icon: "message",
              icon_size: 3
            ) %>
          </li>
        </ul>
      <% end %>

      <%= dropdown.with_section do %>
        <ul>
          <li class="dropdown-item">
            <%= render Ui::Dropdown::LinkComponent.new(
              url: track_path(@track),
              text: t("track.see_track"),
              icon: "eye",
              icon_size: 3
            ) %>
          </li>
          <li class="dropdown-item" data-action="click->audio-player#stopPropagation">
            <%= link_to download_track_free_path(@track), target: "_blank", rel: "noopener", class: "dropdown-link" do %>
              <%= icon "download", class: icon_size %>
              <%= t("label.download") %>
            <% end %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
