<% title(t("authentication.edit_credentials")) %>

<div class="auth-form">
  <h2 class="font-bold text-center"><%= t("authentication.edit_credentials") %></h2>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="flash flash-error flex flex-col justify-center items-center gap-0.5 my-4 text-[0.6rem]">
      <p><%= t("authentication.currently_wating_email_confirmation", email: resource.unconfirmed_email) %></p>
      <p class="underline"><%= link_to t("authentication.no_confirmation_instructions"), new_confirmation_path(resource_name) %></p>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <%= render Ui::AuthInputComponent.new(
      form:, resource:, field: :email, label: t("label.email"), type: :email,
      options: {
        autofocus: true,
        autocomplete: "email",
        value: devise_mapping.confirmable? && resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email
      },
    ) %>

    <%= render Ui::AuthInputComponent.new(
      form:, resource:, field: :username, label: t("label.username"), type: :text,
      options: { autocomplete: "username" },
    ) %>

    <%= render Ui::AuthInputComponent.new(
      form:, resource:, field: :password, type: :password,
      label: "#{t("label.password")} (#{t("authentication.leave_password_blank")})",
      options: { autocomplete: "new-password" }
    ) %>

    <%= render Ui::AuthInputComponent.new(
      form:, resource:, field: :password_confirmation, type: :password,
      label: "#{t("label.password_confirmation")} (#{t("authentication.leave_password_confirmation_blank")})",
      options: { autocomplete: "new-password" }
    ) %>

    <%= render Ui::AuthInputComponent.new(
      form:, resource:, field: :current_password, type: :password, label: t("label.current_password"),
      options: { autocomplete: "current-password" }
    ) %>

    <%= form.submit t("label.update"), class: "button mt-8 w-full" %>
    <%= link_to t("label.back"), edit_users_profile_path, class: "button-secondary mt-2" %>
  <% end %>
</div>
