<% content_for :title, t("label.sign_up") %>

<div class="auth-form">
  <h2 class="font-bold text-center"><%= t("label.sign_up") %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render "users/shared/input", form: f,
      label: t("label.email"), field: :email, field_type: :email,
      options: { autofocus: true, autocomplete: "email" }
    %>

    <%= render "users/shared/input", form: f,
      label: t("label.username"), field: :email, field_type: :email,
      options: { autofocus: true, autocomplete: "username" }
    %>

    <%= render "users/shared/input", form: f,
      label: t("label.password"), field: :email, field_type: :email,
      options: { autocomplete: "new-password" }
    %>

    <%= render "users/shared/input", form: f,
      label: t("label.password_confirmation"), field: :email, field_type: :email,
      options: { autocomplete: "new-password" }
    %>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

